Ce Notebook a pour but de découvrir, nettoyer et normaliser les dataframe de toutes les éditions

In [1]:
#general packages
import os
from datetime import datetime
import re
import math

#data package
import pandas as pd
import numpy as np
import csv

In [2]:
os.getcwd()

'C:\\Users\\Admin\\python-projects\\utmb'

In [3]:
files = os.listdir('data/utmb-2003-2017')

In [4]:
files

['utmb_2003.csv',
 'utmb_2004.csv',
 'utmb_2005.csv',
 'utmb_2006.csv',
 'utmb_2007.csv',
 'utmb_2008.csv',
 'utmb_2009.csv',
 'utmb_2010.csv',
 'utmb_2011.csv',
 'utmb_2012.csv',
 'utmb_2013.csv',
 'utmb_2014.csv',
 'utmb_2015.csv',
 'utmb_2016.csv',
 'utmb_2017.csv']

In [5]:
data = {}
year = 2003
for file in files :
    path = os.path.join('data/utmb-2003-2017', file)
    data[str(year)] = pd.read_csv(path)
    year += 1

### 2003

In [6]:
data['2003'].head()

,Unnamed: 0,bib,name,team,category,rank,nationality,time,timediff
0,0,47,SHERPA Dachhiri-Dawa,TEAM FILA,SEH,1,NP,20:05:58,00:00.0
1,1,8,GAYLORD Topher,THE NORTH FACE,SEH,2,US,22:15:17,09:19.0
2,2,301,SYBROWSKY Brandon,TEAM MONTRAIL,SEH,2,US,22:15:17,09:19.0
3,3,375,SCHNEIDER Giselher,LG-CHIEMGAU SÜD,V1H,1,DE,23:37:17,31:19.0
4,4,457,SCHWEIZER Werner,FOULEE GLAND,V3H,1,CH,24:18:36,12:38.0

In [7]:
data['2003'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 9 columns):
Unnamed: 0     67 non-null int64
bib            67 non-null int64
name           67 non-null object
team           50 non-null object
category       67 non-null object
rank           67 non-null int64
nationality    67 non-null object
time           67 non-null object
timediff       67 non-null object
dtypes: int64(3), object(6)
memory usage: 4.8+ KB

Vérification si NA valeurs

In [8]:
data['2003'].isnull().sum()

Unnamed: 0      0
bib             0
name            0
team           17
category        0
rank            0
nationality     0
time            0
timediff        0
dtype: int64

Aucun temps sur les points de passage

La feature Unnamed: 0 est inutile

In [9]:
data['2003'] = data['2003'].drop(['Unnamed: 0'], axis=1)

In [10]:
def chronoSecond(chrono_string) : 

    hours = int(chrono_string[0:2])
    minutes = int(chrono_string[3:5])
    seconds = int(chrono_string[6:8])
    
    return 3600*hours + 60 * minutes + seconds

On doit vérifier que les données de chrono sont toutes au format 'HH:MM:SS'

In [11]:
print('Données au mauvais format :')
print(data['2003'].shape[0] - data['2003']['time'].str.contains('^[0-9]{2}\:[0-9]{2}\:[0-9]{2}$').sum() - 
      data['2003']['time'].isna().sum() )

Données au mauvais format :
0

Notons également que la feature timediff n'est pas correcte. On convertit les données de chrono en seconde

In [12]:
data['2003']['time'] = data['2003']['time'].apply(lambda x: chronoSecond(x))

In [13]:
time_winner = data['2003'].time[0]
data['2003']['timediff'] = data['2003']['time'] - time_winner

In [14]:
data['2003'].head()

,bib,name,team,category,rank,nationality,time,timediff
0,47,SHERPA Dachhiri-Dawa,TEAM FILA,SEH,1,NP,72358,0
1,8,GAYLORD Topher,THE NORTH FACE,SEH,2,US,80117,7759
2,301,SYBROWSKY Brandon,TEAM MONTRAIL,SEH,2,US,80117,7759
3,375,SCHNEIDER Giselher,LG-CHIEMGAU SÜD,V1H,1,DE,85037,12679
4,457,SCHWEIZER Werner,FOULEE GLAND,V3H,1,CH,87516,15158

### 2010

L'année 2010 a été particulière sur l'UTMB, la course ayant éte neutralisée de longues heures, puis limitée en terme de distance. Cette édition n'est pas comptabilisée dans l'analyse

In [15]:
del data['2010']

### 2004 - 2017 (hors 2010)

In [16]:
data['2004'].head()

,Unnamed: 0,bib,name,team,category,rank,nationality,time,timediff,Voza,...,Bertone,Elena,ColFerr,Fouly,Champ,Bovine,Trient,Vallorc,Gardes,Cham
0,0,81,DELEBARRE Vincent,LES TRAILERS DU MONT BLANC - UFO - QUECHUA,SE H,1,FR,21:06:18,00:00:00.000000,01:17:37,...,09:41:45,11:41:35,12:19:04,13:11:18,15:21:42,16:32:35,17:27:51,19:01:47,20:19:16,21:06:18
1,1,1,SHERPA Dachhiri-Dawa,TEAM QUECHUA,SE H,2,NP,23:02:28,01:56:10.000000,01:16:49,...,09:41:47,11:42:26,12:20:13,13:11:13,15:22:57,16:58:52,17:59:11,20:24:25,22:07:48,23:02:28
2,2,845,PACHE Jean Claude,CARC ROMONT,SE H,3,CH,23:40:08,02:33:50.000000,01:24:13,...,10:45:49,12:38:34,13:18:51,14:18:56,16:38:42,18:07:07,19:08:46,21:20:18,22:45:50,23:40:08
3,3,11,FAVRE-FELIX Lionel,NaN,SE H,4,FR,23:50:36,02:44:18.000000,01:27:57,...,11:15:59,12:57:03,13:37:17,14:33:58,16:53:59,18:33:33,19:34:36,21:31:44,23:01:33,23:50:36
4,4,1149,NEMETH Csaba,TEAM OLANG,SE H,5,HU,23:54:09,02:47:51.000000,01:12:52,...,10:38:34,12:31:17,13:08:39,14:15:57,16:35:39,18:05:51,19:19:22,21:21:06,22:53:40,23:54:09

In [17]:
data['2004'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1376 entries, 0 to 1375
Data columns (total 26 columns):
Unnamed: 0     1376 non-null int64
bib            1376 non-null int64
name           1376 non-null object
team           1243 non-null object
category       1376 non-null object
rank           1376 non-null int64
nationality    1375 non-null object
time           1374 non-null object
timediff       1374 non-null object
Voza           1373 non-null object
Conta          1368 non-null object
Bonhom         1295 non-null object
Chap           1271 non-null object
Seigne         66 non-null object
Favre          1185 non-null object
Courm          1182 non-null object
Bertone        737 non-null object
Elena          706 non-null object
ColFerr        664 non-null object
Fouly          658 non-null object
Champ          570 non-null object
Bovine         433 non-null object
Trient         429 non-null object
Vallorc        418 non-null object
Gardes         418 non-null object
Cham           418 non-null object
dtypes: int64(3), object(23)
memory usage: 279.6+ KB

Points de passage sur les éditions 2004 à 2017 en plus, mais ces points de passage sont différents selon les éditions

On remarque que les catégories sont définies différemment entre 2003 et les autres éditions. Par exemple SEF en 2003 devient SE F sur les autres éditions. On va reprendre le modèle de 2003 pour toutes les éditions

In [18]:
for y in list(data.keys())[1:] :
    data[y]['category'] = data[y]['category'].apply(lambda x: re.sub('\s', '',x))

On vérifie s'il y a des données manquantes. Une donnée manquante peut être formalisée sous la forme d'un NaN ou d'un string vide

In [19]:
data['2004'].isna().sum()

Unnamed: 0        0
bib               0
name              0
team            133
category          0
rank              0
nationality       1
time              2
timediff          2
Voza              3
Conta             8
Bonhom           81
Chap            105
Seigne         1310
Favre           191
Courm           194
Bertone         639
Elena           670
ColFerr         712
Fouly           718
Champ           806
Bovine          943
Trient          947
Vallorc         958
Gardes          958
Cham            958
dtype: int64

In [20]:
(data['2004'] == ' ').sum()

C:\Users\Admin\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Unnamed: 0       0
bib              0
name             0
team           956
category         0
rank             0
nationality    956
time           956
timediff       956
Voza             0
Conta            0
Bonhom           0
Chap             0
Seigne           0
Favre            0
Courm            0
Bertone          0
Elena            0
ColFerr          0
Fouly            0
Champ            0
Bovine           0
Trient           0
Vallorc          0
Gardes           0
Cham             0
dtype: int64

Des sont manquants pour le chrono final et certains intermédiaires. Soit c'est un disfonctionnement, soit c'est un abandon. Dans le cas où la donnée est un string vide, on la formalise par un NaN

De même, suppression de la colonne Unnamed: 0, de colonne timediff et conversion des string vides en NaN

In [21]:
for y in list(data.keys())[1:] :
    data[y] = data[y].drop(['Unnamed: 0', 'timediff'], axis = 1)
    data[y] = data[y].replace(' ', float('nan'))

In [22]:
data['2004']

,bib,name,team,category,rank,nationality,time,Voza,Conta,Bonhom,...,Bertone,Elena,ColFerr,Fouly,Champ,Bovine,Trient,Vallorc,Gardes,Cham
0,81,DELEBARRE Vincent,LES TRAILERS DU MONT BLANC - UFO - QUECHUA,SEH,1,FR,21:06:18,01:17:37,02:23:00,04:17:21,...,09:41:45,11:41:35,12:19:04,13:11:18,15:21:42,16:32:35,17:27:51,19:01:47,20:19:16,21:06:18
1,1,SHERPA Dachhiri-Dawa,TEAM QUECHUA,SEH,2,NP,23:02:28,01:16:49,02:18:21,04:17:00,...,09:41:47,11:42:26,12:20:13,13:11:13,15:22:57,16:58:52,17:59:11,20:24:25,22:07:48,23:02:28
2,845,PACHE Jean Claude,CARC ROMONT,SEH,3,CH,23:40:08,01:24:13,02:31:44,04:50:35,...,10:45:49,12:38:34,13:18:51,14:18:56,16:38:42,18:07:07,19:08:46,21:20:18,22:45:50,23:40:08
3,11,FAVRE-FELIX Lionel,NaN,SEH,4,FR,23:50:36,01:27:57,02:41:15,04:50:27,...,11:15:59,12:57:03,13:37:17,14:33:58,16:53:59,18:33:33,19:34:36,21:31:44,23:01:33,23:50:36
4,1149,NEMETH Csaba,TEAM OLANG,SEH,5,HU,23:54:09,01:12:52,02:17:55,04:30:04,...,10:38:34,12:31:17,13:08:39,14:15:57,16:35:39,18:05:51,19:19:22,21:21:06,22:53:40,23:54:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1371,1182,POIDEVIN Jean-Pierre,NaN,V2H,1377,NaN,NaN,02:07:22,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1372,309,RONSEAUX Christian,NaN,V2H,1378,NaN,NaN,02:29:41,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1373,1090,LE MARREC michel,NaN,V1H,1379,NaN,NaN,02:32:22,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1374,698,GUEVEL Jean-Paul,NaN,V2H,1380,NaN,NaN,02:43:45,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1375,915,ROCHAT Pierre,NaN,SEH,1381,NaN,NaN,02:56:08,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

On vérifie que les données de chrono sont au bon format

In [23]:
for y in list(data.keys())[1:] :
    
    cols = data[y].columns[6:]
    for c in cols :
        print('Données au mauvais format année {} feature col {} :'.format(y, c))
        if data[y][c].isna().sum() == data[y][c].shape[0] :
            print('Only NaN : bug chrono')
        else :
            print(data[y].shape[0] - data[y][c].str.contains('^[0-9]{2}\:[0-9]{2}\:[0-9]{2}$').sum() - 
                  data[y][c].isna().sum() )

Données au mauvais format année 2004 feature col time :
0
Données au mauvais format année 2004 feature col Voza :
2
Données au mauvais format année 2004 feature col Conta :
0
Données au mauvais format année 2004 feature col Bonhom :
0
Données au mauvais format année 2004 feature col Chap :
0
Données au mauvais format année 2004 feature col Seigne :
0
Données au mauvais format année 2004 feature col Favre :
0
Données au mauvais format année 2004 feature col Courm :
0
Données au mauvais format année 2004 feature col Bertone :
0
Données au mauvais format année 2004 feature col Elena :
0
Données au mauvais format année 2004 feature col ColFerr :
0
Données au mauvais format année 2004 feature col Fouly :
0
Données au mauvais format année 2004 feature col Champ :
0
Données au mauvais format année 2004 feature col Bovine :
0
Données au mauvais format année 2004 feature col Trient :
0
Données au mauvais format année 2004 feature col Vallorc :
0
Données au mauvais format année 2004 feature col Gardes :
0
Données au mauvais format année 2004 feature col Cham :
0
Données au mauvais format année 2005 feature col time :
0
Données au mauvais format année 2005 feature col Col de Voza :
0
Données au mauvais format année 2005 feature col Les Contamines :
3
Données au mauvais format année 2005 feature col La Balme :
0
Données au mauvais format année 2005 feature col Les Chapieux CCAS :
0
Données au mauvais format année 2005 feature col Col de la Seigne :
0
Données au mauvais format année 2005 feature col Refuge Elisabetta :
0
Données au mauvais format année 2005 feature col Arête Mont-Favre :
0
Données au mauvais format année 2005 feature col Col Chécrouit - Maison Vieille :
0
Données au mauvais format année 2005 feature col Courmayeur - Dolonne :
0
Données au mauvais format année 2005 feature col Refuge Bertone :
0
Données au mauvais format année 2005 feature col Refuge Bonatti :
0
Données au mauvais format année 2005 feature col Arnuva :
0
Données au mauvais format année 2005 feature col Grand Col Ferret :
0
Données au mauvais format année 2005 feature col La Peulaz :
0
Données au mauvais format année 2005 feature col La Fouly :
1
Données au mauvais format année 2005 feature col Praz de Fort :
0
Données au mauvais format année 2005 feature col Champex d'en Bas :
0
Données au mauvais format année 2005 feature col Bovine :
0
Données au mauvais format année 2005 feature col Trient :
0
Données au mauvais format année 2005 feature col Les Tseppes :
0
Données au mauvais format année 2005 feature col Vallorcine :
0
Données au mauvais format année 2005 feature col Argentière :
0
Données au mauvais format année 2005 feature col Chamonix - Arrivée :
0
Données au mauvais format année 2006 feature col time :
0
Données au mauvais format année 2006 feature col Col de Voza :
0
Données au mauvais format année 2006 feature col Les Contamines :
0
Données au mauvais format année 2006 feature col La Balme :
0
Données au mauvais format année 2006 feature col Refuge Croix du Bonhomme :
0
Données au mauvais format année 2006 feature col Les Chapieux CCAS :
0
Données au mauvais format année 2006 feature col Col de la Seigne :
0
Données au mauvais format année 2006 feature col Refuge Elisabetta :
0
Données au mauvais format année 2006 feature col Arête Mont-Favre :
0
Données au mauvais format année 2006 feature col Col Chécrouit - Maison Vieille :
0
Données au mauvais format année 2006 feature col Courmayeur - Dolonne :
41
Données au mauvais format année 2006 feature col Refuge Bertone :
0
Données au mauvais format année 2006 feature col Refuge Bonatti :
0
Données au mauvais format année 2006 feature col Arnuva :
0
Données au mauvais format année 2006 feature col Grand Col Ferret :
0
Données au mauvais format année 2006 feature col La Peulaz :
0
Données au mauvais format année 2006 feature col La Fouly :
0
Données au mauvais format année 2006 feature col Praz de Fort :
0
Données au mauvais format année 2006 feature col Champex Lac :
0
Données au mauvais format année 2006 feature col Bovine :
0
Données au mauvais format année 2006 feature col Trient :
0
Données au mauvais format année 2006 feature col Les Tseppes :
1
Données au mauvais format année 2006 feature col Vallorcine :
0
Données au mauvais format année 2006 feature col Argentière :
0
Données au mauvais format année 2006 feature col Chamonix - Arrivée :
0
Données au mauvais format année 2007 feature col time :
0
Données au mauvais format année 2007 feature col La Charme :
0
Données au mauvais format année 2007 feature col Saint-Gervais :
0
Données au mauvais format année 2007 feature col Les Contamines :
0
Données au mauvais format année 2007 feature col La Balme :
0
Données au mauvais format année 2007 feature col Refuge Croix du Bonhomme :
0
Données au mauvais format année 2007 feature col Les Chapieux CCAS :
0
Données au mauvais format année 2007 feature col Col de la Seigne :
0
Données au mauvais format année 2007 feature col Refuge Elisabetta :
0
Données au mauvais format année 2007 feature col Col Chécrouit - Maison Vieille :
0
Données au mauvais format année 2007 feature col Courmayeur - Dolonne :
0
Données au mauvais format année 2007 feature col Refuge Bertone :
0
Données au mauvais format année 2007 feature col Refuge Bonatti :
0
Données au mauvais format année 2007 feature col Arnuva :
0
Données au mauvais format année 2007 feature col Grand Col Ferret :
0
Données au mauvais format année 2007 feature col La Fouly :
0
Données au mauvais format année 2007 feature col Champex Lac :
0
Données au mauvais format année 2007 feature col Bovine :
0
Données au mauvais format année 2007 feature col Trient :
0
Données au mauvais format année 2007 feature col Catogne :
0
Données au mauvais format année 2007 feature col Vallorcine :
0
Données au mauvais format année 2007 feature col Argentière :
0
Données au mauvais format année 2007 feature col Chamonix - Arrivée :
0
Données au mauvais format année 2008 feature col time :
0
Données au mauvais format année 2008 feature col Charme :
0
Données au mauvais format année 2008 feature col StGer :
0
Données au mauvais format année 2008 feature col Conta :
0
Données au mauvais format année 2008 feature col Balme :
0
Données au mauvais format année 2008 feature col Bonhom :
0
Données au mauvais format année 2008 feature col Chap :
0
Données au mauvais format année 2008 feature col Seigne :
0
Données au mauvais format année 2008 feature col Combal :
0
Données au mauvais format année 2008 feature col MtFavre :
0
Données au mauvais format année 2008 feature col Checr :
0
Données au mauvais format année 2008 feature col Courm :
0
Données au mauvais format année 2008 feature col Berton :
0
Données au mauvais format année 2008 feature col Bonatti :
0
Données au mauvais format année 2008 feature col Arnuva :
0
Données au mauvais format année 2008 feature col Ferret :
0
Données au mauvais format année 2008 feature col Fouly :
0
Données au mauvais format année 2008 feature col Champ :
0
Données au mauvais format année 2008 feature col Bovine :
0
Données au mauvais format année 2008 feature col Trient :
0
Données au mauvais format année 2008 feature col Catogn :
0
Données au mauvais format année 2008 feature col Vallor :
0
Données au mauvais format année 2008 feature col TeteVnt :
0
Données au mauvais format année 2008 feature col Fleg :
0
Données au mauvais format année 2008 feature col Cham :
0
Données au mauvais format année 2009 feature col time :
0
Données au mauvais format année 2009 feature col stGer :
0
Données au mauvais format année 2009 feature col conta :
0
Données au mauvais format année 2009 feature col balme :
0
Données au mauvais format année 2009 feature col crxBon :
0
Données au mauvais format année 2009 feature col chap :
0
Données au mauvais format année 2009 feature col seign :
0
Données au mauvais format année 2009 feature col combal :
0
Données au mauvais format année 2009 feature col mtFav :
0
Données au mauvais format année 2009 feature col checr :
0
Données au mauvais format année 2009 feature col courm :
0
Données au mauvais format année 2009 feature col bert :
0
Données au mauvais format année 2009 feature col bonat :
0
Données au mauvais format année 2009 feature col arnuv :
0
Données au mauvais format année 2009 feature col ferret :
0
Données au mauvais format année 2009 feature col fouly :
0
Données au mauvais format année 2009 feature col champ :
0
Données au mauvais format année 2009 feature col bovine :
0
Données au mauvais format année 2009 feature col trient :
0
Données au mauvais format année 2009 feature col catog :
0
Données au mauvais format année 2009 feature col vallo :
0
Données au mauvais format année 2009 feature col teteVnt :
0
Données au mauvais format année 2009 feature col fleg :

0
Données au mauvais format année 2009 feature col cham :
0
Données au mauvais format année 2011 feature col time :
0
Données au mauvais format année 2011 feature col Delevre :
0
Données au mauvais format année 2011 feature col st Ger :
0
Données au mauvais format année 2011 feature col Conta :
0
Données au mauvais format année 2011 feature col Balme :
0
Données au mauvais format année 2011 feature col Bonhom :
0
Données au mauvais format année 2011 feature col Chapieu :
0
Données au mauvais format année 2011 feature col Seigne :
0
Données au mauvais format année 2011 feature col Combal :
0
Données au mauvais format année 2011 feature col M Favre :
0
Données au mauvais format année 2011 feature col Checrou :
0
Données au mauvais format année 2011 feature col Courm :
0
Données au mauvais format année 2011 feature col Bertone :
0
Données au mauvais format année 2011 feature col Bonatti :
0
Données au mauvais format année 2011 feature col Arnuva :
0
Données au mauvais format année 2011 feature col Ferret :
0
Données au mauvais format année 2011 feature col Fouly :
0
Données au mauvais format année 2011 feature col Champex :
0
Données au mauvais format année 2011 feature col Martign :
0
Données au mauvais format année 2011 feature col Trient :
0
Données au mauvais format année 2011 feature col Catogne :
0
Données au mauvais format année 2011 feature col Vallo :
0
Données au mauvais format année 2011 feature col Argent :
0
Données au mauvais format année 2011 feature col Cham :
0
Données au mauvais format année 2012 feature col time :
0
Données au mauvais format année 2012 feature col Delev :
0
Données au mauvais format année 2012 feature col StGer :
0
Données au mauvais format année 2012 feature col Conta :
0
Données au mauvais format année 2012 feature col Balme :
0
Données au mauvais format année 2012 feature col conta r :
0
Données au mauvais format année 2012 feature col bellevu :
0
Données au mauvais format année 2012 feature col houches :
0
Données au mauvais format année 2012 feature col gare pp :
0
Données au mauvais format année 2012 feature col argenti :
0
Données au mauvais format année 2012 feature col -1km :
0
Données au mauvais format année 2012 feature col arrivee :
0
Données au mauvais format année 2013 feature col time :
0
Données au mauvais format année 2013 feature col Delev :
0
Données au mauvais format année 2013 feature col StGer :
0
Données au mauvais format année 2013 feature col Conta :
0
Données au mauvais format année 2013 feature col Balme :
0
Données au mauvais format année 2013 feature col Bonhom :
0
Données au mauvais format année 2013 feature col Chapieu :
0
Données au mauvais format année 2013 feature col Seigne :
0
Données au mauvais format année 2013 feature col Combal :
0
Données au mauvais format année 2013 feature col MtFavre :
0
Données au mauvais format année 2013 feature col Checrou :
0
Données au mauvais format année 2013 feature col Courm :
0
Données au mauvais format année 2013 feature col Bertone :
0
Données au mauvais format année 2013 feature col Bonatti :
0
Données au mauvais format année 2013 feature col Arnuva :
0
Données au mauvais format année 2013 feature col GdColF :
0
Données au mauvais format année 2013 feature col Fouly :
0
Données au mauvais format année 2013 feature col Champex :
0
Données au mauvais format année 2013 feature col Bovine :
0
Données au mauvais format année 2013 feature col Trient :
0
Données au mauvais format année 2013 feature col Catogne :
0
Données au mauvais format année 2013 feature col Vallo :
0
Données au mauvais format année 2013 feature col TaVents :
0
Données au mauvais format année 2013 feature col Flégère :
0
Données au mauvais format année 2013 feature col Arrivé :
0
Données au mauvais format année 2014 feature col time :
0
Données au mauvais format année 2014 feature col Delev :
0
Données au mauvais format année 2014 feature col StGer :
0
Données au mauvais format année 2014 feature col Conta :
0
Données au mauvais format année 2014 feature col Balme :
0
Données au mauvais format année 2014 feature col Bonhom :
0
Données au mauvais format année 2014 feature col Chapieu :
0
Données au mauvais format année 2014 feature col Seigne :
0
Données au mauvais format année 2014 feature col Combal :
0
Données au mauvais format année 2014 feature col MtFavre :
0
Données au mauvais format année 2014 feature col Checrou :
0
Données au mauvais format année 2014 feature col Courm :
0
Données au mauvais format année 2014 feature col Bertone :
0
Données au mauvais format année 2014 feature col Bonatti :
0
Données au mauvais format année 2014 feature col Arnuva :
0
Données au mauvais format année 2014 feature col GdColF :
0
Données au mauvais format année 2014 feature col Fouly :
0
Données au mauvais format année 2014 feature col Champex :
0
Données au mauvais format année 2014 feature col Giète :
0
Données au mauvais format année 2014 feature col Trient :
0
Données au mauvais format année 2014 feature col Catogne :
0
Données au mauvais format année 2014 feature col Vallo :
0
Données au mauvais format année 2014 feature col TaVents :
0
Données au mauvais format année 2014 feature col Flégère :
0
Données au mauvais format année 2014 feature col Arrivée :
0
Données au mauvais format année 2015 feature col time :
0
Données au mauvais format année 2015 feature col Delev :
0
Données au mauvais format année 2015 feature col StGer :
0
Données au mauvais format année 2015 feature col Conta :
0
Données au mauvais format année 2015 feature col Balme :
0
Données au mauvais format année 2015 feature col Bonhom :
0
Données au mauvais format année 2015 feature col Chapieu :
0
Données au mauvais format année 2015 feature col Seigne :
0
Données au mauvais format année 2015 feature col Combal :
0
Données au mauvais format année 2015 feature col MtFavre :
0
Données au mauvais format année 2015 feature col Checrou :
0
Données au mauvais format année 2015 feature col Courm1 :
0
Données au mauvais format année 2015 feature col Courm2 :
0
Données au mauvais format année 2015 feature col Bertone :
0
Données au mauvais format année 2015 feature col Bonatti :
0
Données au mauvais format année 2015 feature col Arnuva :
0
Données au mauvais format année 2015 feature col GdColF :
0
Données au mauvais format année 2015 feature col Fouly :
0
Données au mauvais format année 2015 feature col Champex :
0
Données au mauvais format année 2015 feature col Giete :
0
Données au mauvais format année 2015 feature col Trient :
0
Données au mauvais format année 2015 feature col Catogne :
0
Données au mauvais format année 2015 feature col Vallo :
0
Données au mauvais format année 2015 feature col TaVents :
0
Données au mauvais format année 2015 feature col Flegere :
0
Données au mauvais format année 2015 feature col Arrivee :
0
Données au mauvais format année 2016 feature col time :
0
Données au mauvais format année 2016 feature col Delevret :
0
Données au mauvais format année 2016 feature col St Gervais :
0
Données au mauvais format année 2016 feature col Contamines :
0
Données au mauvais format année 2016 feature col Balme :
0
Données au mauvais format année 2016 feature col Bonhomme :
0
Données au mauvais format année 2016 feature col Chapieu :
0
Données au mauvais format année 2016 feature col Seigne :
0
Données au mauvais format année 2016 feature col Combal :
0
Données au mauvais format année 2016 feature col MtFavre :
0
Données au mauvais format année 2016 feature col Checrou :
0
Données au mauvais format année 2016 feature col Courm1 :
0
Données au mauvais format année 2016 feature col Courm2 :
0
Données au mauvais format année 2016 feature col Villaz :
Only NaN : bug chrono
Données au mauvais format année 2016 feature col Bertone :
0
Données au mauvais format année 2016 feature col Bonatti :
0
Données au mauvais format année 2016 feature col Arnuva :
0
Données au mauvais format année 2016 feature col GdColF :
0
Données au mauvais format année 2016 feature col Fouly :
0
Données au mauvais format année 2016 feature col Champex :
0
Données au mauvais format année 2016 feature col Giete :
0
Données au mauvais format année 2016 feature col Trient :
0
Données au mauvais format année 2016 feature col Catogne :
0
Données au mauvais format année 2016 feature col Vallo :
0
Données au mauvais format année 2016 feature col TaVents :
0
Données au mauvais format année 2016 feature col Flegere :
0
Données au mauvais format année 2016 feature col Arrivee :
0
Données au mauvais format année 2017 feature col time :
0

Données au mauvais format année 2017 feature col Delevret :
0
Données au mauvais format année 2017 feature col St-Gervais :
0
Données au mauvais format année 2017 feature col Contamines :
0
Données au mauvais format année 2017 feature col La Balme :
0
Données au mauvais format année 2017 feature col Bonhomme :
0
Données au mauvais format année 2017 feature col Chapieux :
0
Données au mauvais format année 2017 feature col Col Seigne :
0
Données au mauvais format année 2017 feature col Lac Combal :
0
Données au mauvais format année 2017 feature col Mt-Favre :
0
Données au mauvais format année 2017 feature col Checruit :
0
Données au mauvais format année 2017 feature col Courmayeur :
0
Données au mauvais format année 2017 feature col Bertone :
0
Données au mauvais format année 2017 feature col Bonatti :
0
Données au mauvais format année 2017 feature col Arnouvaz :
0
Données au mauvais format année 2017 feature col Col Ferret :
0
Données au mauvais format année 2017 feature col La Fouly :
0
Données au mauvais format année 2017 feature col Champex La :
0
Données au mauvais format année 2017 feature col La Giète :
0
Données au mauvais format année 2017 feature col Trient :
0
Données au mauvais format année 2017 feature col Les Tseppe :
0
Données au mauvais format année 2017 feature col Vallorcine :
0
Données au mauvais format année 2017 feature col Col Montet :
0
Données au mauvais format année 2017 feature col Flégère :
0
Données au mauvais format année 2017 feature col Arrivée :
0

De nombreuses données ne sont pas au bon format, il faut analyser ces erreurs

In [24]:
for y in list(data.keys())[1:] :
    
    cols = data[y].columns[6:]
    for c in cols :
        for i in range(data[y].shape[0]) :
            if type(data[y].loc[i, c]) == str :
                if re.search('^[0-9]{2}\:[0-9]{2}\:[0-9]{2}$', data[y].loc[i, c]) == None :
                    print('année {}, feature {}, indice {}, string {}'.format(y, c, i, data[y].loc[i, c]))

année 2004, feature Voza, indice 8, string -03:56:59
année 2004, feature Voza, indice 850, string -03:56:59
année 2005, feature Les Contamines, indice 1, string -00:57:09
année 2005, feature Les Contamines, indice 38, string -00:26:07
année 2005, feature Les Contamines, indice 803, string -00:57:00
année 2005, feature La Fouly, indice 15, string -01:59:55
année 2006, feature Courmayeur - Dolonne, indice 5, string -00:56:59
année 2006, feature Courmayeur - Dolonne, indice 11, string -00:56:58
année 2006, feature Courmayeur - Dolonne, indice 12, string -00:56:59
année 2006, feature Courmayeur - Dolonne, indice 13, string -00:56:57
année 2006, feature Courmayeur - Dolonne, indice 15, string -00:56:59
année 2006, feature Courmayeur - Dolonne, indice 16, string -00:56:58
année 2006, feature Courmayeur - Dolonne, indice 17, string -00:56:57
année 2006, feature Courmayeur - Dolonne, indice 18, string -00:56:59
année 2006, feature Courmayeur - Dolonne, indice 19, string -00:56:55
année 2006, feature Courmayeur - Dolonne, indice 20, string -00:56:56
année 2006, feature Courmayeur - Dolonne, indice 21, string -00:56:58
année 2006, feature Courmayeur - Dolonne, indice 22, string -00:54:57
année 2006, feature Courmayeur - Dolonne, indice 23, string -00:56:58
année 2006, feature Courmayeur - Dolonne, indice 24, string -00:56:59
année 2006, feature Courmayeur - Dolonne, indice 25, string -00:55:58
année 2006, feature Courmayeur - Dolonne, indice 28, string -00:56:56
année 2006, feature Courmayeur - Dolonne, indice 30, string -00:56:55
année 2006, feature Courmayeur - Dolonne, indice 31, string -00:56:59
année 2006, feature Courmayeur - Dolonne, indice 33, string -00:56:58
année 2006, feature Courmayeur - Dolonne, indice 37, string -00:56:57
année 2006, feature Courmayeur - Dolonne, indice 42, string -00:56:57
année 2006, feature Courmayeur - Dolonne, indice 44, string -00:56:58
année 2006, feature Courmayeur - Dolonne, indice 50, string -00:56:58
année 2006, feature Courmayeur - Dolonne, indice 55, string -00:56:57
année 2006, feature Courmayeur - Dolonne, indice 62, string -00:56:57
année 2006, feature Courmayeur - Dolonne, indice 65, string -00:56:58
année 2006, feature Courmayeur - Dolonne, indice 74, string -00:57:00
année 2006, feature Courmayeur - Dolonne, indice 82, string -00:56:55
année 2006, feature Courmayeur - Dolonne, indice 84, string -00:57:00
année 2006, feature Courmayeur - Dolonne, indice 105, string -00:56:57
année 2006, feature Courmayeur - Dolonne, indice 115, string -00:56:58
année 2006, feature Courmayeur - Dolonne, indice 134, string -00:56:56
année 2006, feature Courmayeur - Dolonne, indice 463, string -00:56:59
année 2006, feature Courmayeur - Dolonne, indice 593, string -00:56:59
année 2006, feature Courmayeur - Dolonne, indice 1159, string -00:56:57
année 2006, feature Courmayeur - Dolonne, indice 1160, string -00:56:56
année 2006, feature Courmayeur - Dolonne, indice 1162, string -00:57:00
année 2006, feature Courmayeur - Dolonne, indice 1220, string -00:56:57
année 2006, feature Courmayeur - Dolonne, indice 1416, string -00:56:57
année 2006, feature Courmayeur - Dolonne, indice 1686, string -00:57:00
année 2006, feature Courmayeur - Dolonne, indice 1895, string -00:56:55
année 2006, feature Les Tseppes, indice 33, string -01:59:57

On remarque que les erreurs sont toujours de même type, un - est ajouté devant le chrono.
On supprime ce - sur toutes les tables

In [25]:
for y in list(data.keys())[1:] :
    cols = data[y].columns[6:]
    for c in cols :
        data[y][c] = data[y][c].apply(lambda x : re.sub('\-', '', x) if type(x) == str else x)

On peut vérifier qu'il n'y a plus d'erreur

In [26]:
for y in list(data.keys())[1:] :
    
    cols = data[y].columns[6:]
    for c in cols :
        for i in range(data[y].shape[0]) :
            if type(data[y].loc[i, c]) == str :
                if re.search('^[0-9]{2}\:[0-9]{2}\:[0-9]{2}$', data[y].loc[i, c]) == None :
                    print('année {}, feature {}, indice {}, string {}'.format(y, c, i, data[y].loc[i, c]))

C'est okay, il n'y a plus d'erreur qui s'affiche

On peut désormais convertir les données de chrono en seconde convenablement et calculer la feature timediff

In [27]:
for y in list(data.keys())[1:] :
    
    cols = data[y].columns[6:]
    for c in cols :
        data[y][c] = data[y][c].apply(lambda x : chronoSecond(x) if type(x) == str else x)
    
    time_winner = data[y].time[0]
    data[y]['timediff'] = data[y]['time'] - time_winner

### Export Data

On peut désormais exporter ces tables nettoyées dans un répertoire dédié

In [29]:
for y in data.keys() :
    file_path = y+'-utmb.csv'
    path = os.path.join('clean_data', file_path)
    data[y].to_csv(path)